.headerlogobar{
    position: fixed;
    flex: center;
    top: 0;
    left: 50%;
    z-index: -1;
  }
  
  nav{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav.active{
    background-color: grey;
  }
  nav a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
  }
  
  #logo{
    width: 150px;
  
  }